$color_grey: #5a5a5a;
$color_white:white;
$color_black:#00000029;
$color_black_dark:#333;
$color_light:#ededef;
$color_lightcyan:lightcyan;
$color_green:rgb(24, 149, 24);
$color_border:#DCDCDC;
$color_secondary:#eaeaea;
$color_primary_box:rgba(0, 0, 0, 0.1);
$color_secondary_box:gba(243, 240, 240, 0.2);